### Python DataTypes: Number, String, Tuple, List, Dictionary, Set   
Immutable datatypes: Number, String, Tuple  
Mutable datatypes can be change after creation: List, Dictionary, Set  
Datatype names cannot have space, apply underscore. May be __convert__

#### 1.0 Python Numbers: `int`, `float`, `complex` 
`type()` function to identify datatype  
`isinstance()` function to identify object\'s class  

Integer length is limited by memory size.  
Floating point is accurate up to 15 decimal places.  
Complex number of x+yj, where x is real and y is imaginary.

In [1]:
print('1 datatype is a', type(1))  
print('2.0 datatype is a', type(2.0))   
x = 3+45j; print('Is', x, 'a complex number?', isinstance(3+45j,complex))
type(1), type(2.0), isinstance(3+45j, complex)

1 datatype is a <class 'int'>
2.0 datatype is a <class 'float'>
Is (3+45j) a complex number? True

(int, float, True)

In [2]:
a = 123456789012345678901; print(a)
b = 0.123456789012345678901; print(b) # get truncated and round up

123456789012345678901
0.12345678901234568

#### 2.0 Python Strings: `'1-line'`, `"double quote"`, `'''multi line'''`, `"""3x"""`  
Concatenate, Repeat, Slice, Index (begins from 0)  
`find()`, `replace()`, `split()`, `cound()`, `print()`   
`upper()`, `max()`, `min()`, `isalpha()`, `isalnum()`, `isdecimal()`, `isdigit()`, `isidentifier()`, `islower()`, `isprintable()`, `isspace()`, `istitle()`, string.1...

In [3]:
'A long time ago in a galaxy far, far away...'

'A long time ago in a galaxy far, far away...'

In [4]:
"Star Wars IV: A New Hope"  # missing
print('''It is a period of civil war. 
Rebel spaceships, striking 
from a hidden base, have won 
their first victory against 
the evil Galactic Empire. ''')

'''During the battle, Rebel   # end of line denoted by \n  
spies managed to steal secret 
plans to the Empire's 
ultimate weapon, the DEATH 
STAR, an armored space 
station with enough power 
to destroy an entire planet. 

Pursued by the Empire's 
sinister agents, Princess 
Leia races home aboard her 
starship, custodian of the 
stolen plans that can save her 
people and restore 
freedom to the galaxy....''' # comment # does not work between ' '

It is a period of civil war.
Rebel spaceships, striking
from a hidden base, have won
their first victory against
the evil Galactic Empire.

"During the battle, Rebel   # end of line denoted by \n  \nspies managed to steal secret \nplans to the Empire's \nultimate weapon, the DEATH \nSTAR, an armored space \nstation with enough power \nto destroy an entire planet. \n\nPursued by the Empire's \nsinister agents, Princess \nLeia races home aboard her \nstarship, custodian of the \nstolen plans that can save her \npeople and restore \nfreedom to the galaxy...."

In [5]:
x = 'Star'; y = "Wars"; 
print('Concatenate:', x+y, x,y);  # Concatenate 
print('Repeat:', x+x, x*3);  # Repeat 
print('Split:', x[1:],y[:2]);  # Split  # :2 item does not appear 
print("Index:", x[1], x[-1]);  #Index   # -1 from last position  
z = x+" "+y; print(z[2:-1]);

Concatenate: StarWars Star Wars
Repeat: StarStar StarStarStar
Split: tar Wa
Index: t r
ar War

In [6]:
z.find('ar')  # Star = 'ar' begins in location 2

2

In [7]:
y.replace('Wars','Trek')

'Trek'

In [8]:
print(y);  # Immutable datatype did not get replace to 'Trek'
x.split(',') # no "." to split so output unchange.

Wars

['Star']

In [9]:
x2 = "S, t, a, r"; print(x2.split(','))
print(x.split('a'))  # 'a' disappears  
print(x2, x)  # Immutable datatype retains

['S', ' t', ' a', ' r']
['St', 'r']
S, t, a, r Star

In [10]:
print(z), z.count('a',0,6) # 0,6: begin, end place to count. 6 not counted

Star Wars

(None, 1)

In [11]:
print(z.upper()) 
print(max(z)) # immutable retains original lower case
print(min(z)) # space is the result

STAR WARS
t

In [12]:
print(z.isalpha(), z.isalnum(), z.isdecimal(), z.isdigit(), z.isnumeric()) 
print(z.islower(), z.isprintable(), z.isspace(), z.istitle(), z.isupper()) 
print(z.isidentifier(), " ", z, z[2], z[5:-1]) # 5 and -1 not included 
# z[5] ='-' cause error because string is immutable in Python

False False False False False
False True False True False
False   Star Wars a War

#### 3.0 Python Tuple: `( )` curve braces with comma; immutable sequence of variables   
`[ ]` to access varable but not change them.  
Tuple( ) cannot be modified and is faster than list[ ].  
( ) with one variable in it is consider a string. Tuple has multiple by ",".

In [13]:
t = ('Star Wars', 4, 1+6+3j )  # result will turn 1+6 into 7 
c=3 
print('Concatenate:', t+('R2D2', c, 'P', 0))  # adds value instead of 'c' 
print("Repeat: ", t*0, t) # unable to * by decimal 
print('Slice =', t[:1]) # access everything before 1 or 2nd position  
print('Index:', t[-1]+1) # access last position and does maths.

Concatenate: ('Star Wars', 4, (7+3j), 'R2D2', 3, 'P', 0)
Repeat:  () ('Star Wars', 4, (7+3j))
Slice = ('Star Wars',)
Index: (8+3j)

In [14]:
print(t, 'has', len(t))

('Star Wars', 4, (7+3j)) has 3

#### 4.0 Python List: `[ ]` square braces; modifiable objects   
Concatenate, Repeat, Slice, Index: do not change the list[ ]  
<>.append(), <>.extend(), <>.insert(location, new), <>.pop(1_from_last)

In [15]:
ls = [t] # place tuple() into list[]. tuple_3_item becomes list_1_item 
print(ls, ls[0]) 
ls = [t[0:2], (1.6+3j)]
print('Concatenate:', ls+[c, 'P', 0]); 
print('Repeat:', ls*2) 
print('Slice:', ls[1:]) 
print('Index:', ls[-1])

[('Star Wars', 4, (7+3j))] ('Star Wars', 4, (7+3j))
Concatenate: [('Star Wars', 4), (1.6+3j), 3, 'P', 0]
Repeat: [('Star Wars', 4), (1.6+3j), ('Star Wars', 4), (1.6+3j)]
Slice: [(1.6+3j)]
Index: (1.6+3j)

In [16]:
ls.append('r2d2'); print(ls) 
ls.extend([c, 'P', 0]); print(ls) 
ls.insert(1,'Hope'); print(ls) 
ls.pop(); print(ls)

[('Star Wars', 4), (1.6+3j), 'r2d2']
[('Star Wars', 4), (1.6+3j), 'r2d2', 3, 'P', 0]
[('Star Wars', 4), 'Hope', (1.6+3j), 'r2d2', 3, 'P', 0]
[('Star Wars', 4), 'Hope', (1.6+3j), 'r2d2', 3, 'P']

In [17]:
print(t, 'has', len(t)) 
print(ls, 'has', len(ls))

('Star Wars', 4, (7+3j)) has 3
[('Star Wars', 4), 'Hope', (1.6+3j), 'r2d2', 3, 'P'] has 6

#### 5.0 Python Dictionary: `{ }` curly parenthese like Set, but data are modifiable    
Dictionary {} items are stored and access by __key__, not position, no slice.    
duplicate key:value cause error and replace key with latest value  
<>{key#} to access, len(<>), <>.keys(), <>.values()  
<>.items() to list, <>.get(key), <>.update({key:value}), <>.pop(key)

In [18]:
print(a, b, x, y, z, c, t, ls)
d = {0:x, 2:y, 3:c, 'New':4, 'name':'Luke', 9:'Skywalker'}  # mixed keys 
print(d) 
print(d['New'], d[9]) 
print(len(d)) 
print(d.keys())
print(d.values())
#di = {1:'x', 2:'y', 3:'z'}; print(di.key()) error in <>.key()

123456789012345678901 0.12345678901234568 Star Wars Star Wars 3 ('Star Wars', 4, (7+3j)) [('Star Wars', 4), 'Hope', (1.6+3j), 'r2d2', 3, 'P']
{0: 'Star', 2: 'Wars', 3: 3, 'New': 4, 'name': 'Luke', 9: 'Skywalker'}
4 Skywalker
6
dict_keys([0, 2, 3, 'New', 'name', 9])
dict_values(['Star', 'Wars', 3, 4, 'Luke', 'Skywalker'])

In [19]:
d = {'New':'New'}; print(d)

{'New': 'New'}

In [20]:
d = {0:x, 2:y, 3:c, 'New':4, 'name':'Luke', 9:'Skywalker', 'New':'New'} 
print(d.items())  # dictionary retains last item of duplicate key  
print(d.get(1))  # when no key 1 = None 
print(d.update({4:4, 5:'Episode', 'Darth':'Vader'})) 
print(d.update({5:'Episode IV'})) # <>.update prints out 'None' 
print(d) 
print(d.pop(4)) # prints out '4' 
print(d)

dict_items([(0, 'Star'), (2, 'Wars'), (3, 3), ('New', 'New'), ('name', 'Luke'), (9, 'Skywalker')])
None
None
None
{0: 'Star', 2: 'Wars', 3: 3, 'New': 'New', 'name': 'Luke', 9: 'Skywalker', 4: 4, 5: 'Episode IV', 'Darth': 'Vader'}
4
{0: 'Star', 2: 'Wars', 3: 3, 'New': 'New', 'name': 'Luke', 9: 'Skywalker', 5: 'Episode IV', 'Darth': 'Vader'}

In [21]:
print( type(t), type(ls), type(d))

<class 'tuple'> <class 'list'> <class 'dict'>

#### 6.0 Python Set: `{ }` curly braces, comma like Dictionary 
Unique values eliminate duplicates, disorder cannot slice[ ], immutable values   
`|` unite, `&` intersect, `-` differ

In [22]:
s = {x, y, c, z, 'r2d2'}  # output sequence c r2d2 y x z # no order 
print(s) 
s = s|{t} 
print('Unite | =', s)
print('Intersect & =', s&{t})  # immutable retains original values 
print('S differ T =', s-{t} ) 
print('T differ S =', {t}-s )  # outputs set() 
type(s)

{3, 'Star Wars', 'Wars', 'Star', 'r2d2'}
Unite | = {3, 'Star Wars', 'Star', ('Star Wars', 4, (7+3j)), 'Wars', 'r2d2'}
Intersect & = {('Star Wars', 4, (7+3j))}
S differ T = {3, 'Star Wars', 'Wars', 'Star', 'r2d2'}
T differ S = set()

set

In [23]:
print(type(a), a) 
print(type(z), z) 
print(type(t), t) 
print(type(ls), ls) 
print(type(d), d) 
print(type(s), s)

<class 'int'> 123456789012345678901
<class 'str'> Star Wars
<class 'tuple'> ('Star Wars', 4, (7+3j))
<class 'list'> [('Star Wars', 4), 'Hope', (1.6+3j), 'r2d2', 3, 'P']
<class 'dict'> {0: 'Star', 2: 'Wars', 3: 3, 'New': 'New', 'name': 'Luke', 9: 'Skywalker', 5: 'Episode IV', 'Darth': 'Vader'}
<class 'set'> {3, 'Star Wars', 'Star', ('Star Wars', 4, (7+3j)), 'Wars', 'r2d2'}

#### Convert: `int()`, `float()`, `str()`, `set([ ])`, `tuple({ })`,  `list('')`, `dict([(,)])`  
number <=> float, string(), tuple(,), list[ ], dictionary{key:}, set{unique}  
`int()` will truncate float's decimal  
`str()` from numbers must contain compatible values  
`set([1,2,3])`, `tuple({5,6,7})`, `list('hello')` can convert one sequence to another  
`dict([(3,26),(4,44)])` must have elements in pair.

In [24]:
print(float(c) )
print(int(1.6) ) #Conversion from float to int will truncate the value
print(float('9.9')+1) 
print(str(c)) #Conversion to and from string have compatible values.

3.0
1
10.9
3

In [25]:
tuple({5,6,7}) # convert one sequence to another.

(5, 6, 7)

In [26]:
list('hello')

['h', 'e', 'l', 'l', 'o']

In [27]:
set([1,2,3])

{1, 2, 3}

In [28]:
dict([[1,2],[3,4]])

{1: 2, 3: 4}

In [29]:
dict([(3,26),(4,44)]) #To convert to dictionary, each element must be a pairb

{3: 26, 4: 44}

1 Python Numbers: `int`, `float`, `complex`  
2 Python Strings: `'1-line'`, `"double quote"`, `'''multi line'''`, `"""3x"""`   
3 Python Tuple: `( )` curve braces with comma; immutable sequence of variables  
4 Python List: `[ ]` square braces; modifiable objects   
5 Python Dictionary: `{ }` curly parenthese like Set, but data are modifiable    
6 Python Set: `{ }` curly braces comma; unique, disorder, immutable values  
Convert: `int()`, `float()`, `str()`, `set([ ])`, `tuple({ })`,  `list('')`, `dict([(,)])`